@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-5px) rotate(-1deg);
  }
  80% {
    transform: translateX(5px) rotate(1deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.95, 1.1);
  }
  60% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1);
  }
}

.breathing {
  animation: breathing 4s infinite;
}

@keyframes eating {
  0% {
    transform: scale(1) rotate(0deg) translatex(0px);
  }
  25% {
    transform: rotate(1deg);
  }
  30% {
    transform: scale(1.1, 0.8) rotate(0deg) translatex(-1px);
  }
  50% {
    transform: scale(1, 1) rotate(0deg);
  }
  60% {
    transform: scale(1.1, 0.8) rotate(0deg) translatex(1px);
  }
  75% {
    transform: rotate(-1deg) translatex(0px);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.eating {
  animation: eating 1s infinite;
}

@keyframes healing {
  0% {
    transform: scale(1, 1) rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    left: -1px;
  }
  50% {
    transform: scale(1.1, 1.1);
    left: 0px;
  }
  75% {
    left: 1px;
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.healing > * {
  animation: healing 1s infinite;
}
