@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-5px) rotate(-1deg);
  }
  80% {
    transform: translateX(5px) rotate(1deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.95, 1.1);
  }
  60% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1);
  }
}

.breathing > #tamagiBody {
  animation: breathing 4s infinite;
}

@keyframes eating {
  0% {
    transform: scale(1) rotate(0deg) translatex(0px);
  }
  25% {
    transform: rotate(1deg);
  }
  30% {
    transform: scale(1.1, 0.8) rotate(0deg) translatex(-1px);
  }
  50% {
    transform: scale(1, 1) rotate(0deg);
  }
  60% {
    transform: scale(1.1, 0.8) rotate(0deg) translatex(1px);
  }
  75% {
    transform: rotate(-1deg) translatex(0px);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.eating > #tamagiBody {
  animation: eating 1s infinite;
}

@keyframes healing {
  0% {
    transform: scale(1, 1) rotate(0deg);
    filter: hue-rotate(0deg);
    left: 0px;
    top: 0px;
  }
  25% {
    filter: hue-rotate(360deg);
    left: -6px;
    top: 0px;
  }
  50% {
    transform: scale(1.2, 1.2) rotate(-4deg);
    filter: hue-rotate(0deg);
    left: 0px;
    top: -4px;
  }
  75% {
    filter: hue-rotate(360deg);
    left: 6px;
    top: 0px;
  }
  100% {
    transform: scale(1, 1) rotate(0deg);
    filter: hue-rotate(0deg);
    left: 0px;
    top: 0px;
  }
}

.healing > #tamagiBody {
  animation: healing 0.5s infinite linear;
}

@keyframes playing_jumping {
  0% {
    top: 0px;
    transform: scale(1, 1) rotate(0deg);
  }
  5% {
    top: 2px;
    transform: scale(1.1, 0.9) rotate(0deg);
  }
  10% {
    top: 0px;
    transform: scale(1, 1) rotate(0deg);
  }
  15% {
    top: 2px;
    transform: scale(1.1, 0.9) rotate(0deg);
  }
  30% {
    top: -20px;
  }
  35% {
    top: -22px;
    transform: scale(1, 1) rotate(360deg);
  }
  35.1% {
    transform: scale(1, 1) rotate(0deg);
  }
  40% {
    top: -15px;
    transform: scale(1, 1) rotate(0deg);
  }
  44.9% {
    transform: scale(1, 1) rotate(0deg);
  }
  45% {
    top: 4px;
    transform: scale(1, 0.6) rotate(0deg);
  }
  50% {
    top: -2px;
    transform: scale(1, 1.1) rotate(0deg);
  }
  60% {
    top: 0px;
    transform: scale(1, 1) rotate(0deg);
  }
  100% {
    top: 0px;
    transform: scale(1, 1) rotate(0deg);
  }
}

.playing_jumping > #tamagiBody {
  animation: 2.5s linear 0s 3 playing_jumping;
}
